* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

.main {
  padding: 40px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shirt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.shirt h5{
    position: fixed;
    font-size: 10em;
    z-index: -1;
}
.shirt .img{
  display: none;
}
.shirt .img.ativo {
  display: block;
  width: 50%;
  transition: 1s;
}
/* .shirt img:hover {
    width: 100%;
  } */
.produtos {
  height: 500px;
  width: 50%;
  background: cornflowerblue;
}

/*         */

.section-header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-header h1 {
  font-size: 40px;
  margin: 20px;
}

.section-header h2 {
  background: rgb(231, 250, 211);
  border-radius: 10px;
  width: 20%;
  text-align: center;
}
.produtos hr {
  background: rgb(218, 218, 218);
  height: 4px;
  border: none;
  width: 80%;
  margin: 10px auto ;
}
.produtos h3 {
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}
.produtos p {
  width: 80%;
  line-height: 2;
  margin: 0 auto;
}
.colors {
  padding: 8px 0;
  display: flex;
  align-items: center;
  width: 85%;
  margin: 10px auto;
}

.color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 10px;
  border: 5px solid;
  cursor: pointer;
  transition: 0.5s;
}

.color[color="blue"] {
  background-color: #2175f5;
  border-color: #2175f5;
}

.color[color="red"] {
  background-color: #f84848;
  border-color: #f84848;
}

.color[color="green"] {
  background-color: #29b864;
  border-color: #29b864;
}

.color[color="orange"] {
  background-color: #ff5521;
  border-color: #ff5521;
}

.color[color="black"] {
  background-color: #444;
  border-color: #444;
}

.color.active {
  border-color: #fff;
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.section-footer{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-footer button{
    height: 40px;
    width: 25%;
    background: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font: 400 15px arial;
    outline: none;
    cursor: pointer;
}

.section-footer b {
    background: #29b864;
    height: 30px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}