:root{

    --color-h1: #f15101e7;
    --color-btn:#f15001;
    --color-hover:rgba(70, 57, 57, 0.521);
    --color-transparente:rgba(0, 0, 0, 0.486);
    --color-fundo:rgba(141, 133, 133, 0.699);
    --color-form: #a7a0e3;

}