.main{

}
.card {
    margin: 20px auto;
    border: 1px solid rgb(20 35 66);
}
@media(min-width: 700px){

    .main{
        display: flex;
        justify-items: center;
        align-items: center;
       
    }
    .card{
        margin: 20px ;
    }

}